
body {
   margin: 20px;
   background-color: #d7deff;
}
h1 {
   font-size: 3em;
   text-align: center;
   font-family: 'Dancing Script', cursive;
   color: #800000;
}

h2 {
   font-size: 2em;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   color: #800000;
}
address {
   margin-left: 800px;
   font-style: italic;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   padding-bottom: 10px;
}

#quote1 {
   text-align: center;
   font-style: italic;
   margin: auto;
   width: 650px;
   padding-bottom: 20px;
}
.quote {
   font-style: italic;
}

ol {
   margin-left: 100px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

li {
   padding-bottom:10px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}
p {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   padding-bottom: 5px;
   padding-top: 5px;
}
